$color_1: var(--color-default);
$color_2: var(--color-primary);
$color_3: #82cbed;
$color_4: #fff;
$color_5: rgba(255, 255, 255, 0.8);
$color_6: rgba(255, 255, 255, 0.6);
$color_7: var(--color-secondary);
$color_8: springgreen;
$color_9: slateblue;
$color_10: #29486a;
$color_11: #38618e;
$color_12: rgba(27, 47, 69, 0.5);
$color_13: #31547c;
$font-family_1: var(--font-default);
$font-family_2: var(--font-primary);
$font-family_3: var(--font-secondary);
$background-color_1: rgba(27, 47, 69, 0.7);
$background-color_2: #f7f9fc;
$background-color_3: var(--color-secondary);
$background-color_4: var(--color-primary);
$background-color_5: #38618e;
$border-top-color_1: #fff;

/*--------------------------------------------------------------
# Set main reusable colors and fonts using CSS variables
# Learn more about CSS variables at https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
--------------------------------------------------------------*/
/* Fonts */
/* Colors */
/* Smooth scroll behavior */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Services List Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
&:root {
	--font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Montserrat", sans-serif;
	--font-secondary: "Raleway", sans-serif;
	--color-default: #2b180d;
	--color-primary: #56b8e6;
	--color-secondary: #1b2f45;
	scroll-behavior: smooth;
}
body {
	font-family: $font-family_1;
	color: $color_1;
}
a {
	color: $color_2;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
}
h3 {
	font-family: $font-family_2;
}
h4 {
	font-family: $font-family_2;
}
h5 {
	font-family: $font-family_2;
}
h6 {
	font-family: $font-family_2;
}
section {
	overflow: hidden;
	padding: 80px 0;
}
.section-header {
	text-align: center;
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 60px;
			height: 2px;
			background: var(--color-primary);
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
	p {
		margin-bottom: 0;
	}
}
.breadcrumbs {
	padding: 140px 0 60px 0;
	min-height: 30vh;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:before {
		content: "";
		background-color: $background-color_1;
		position: absolute;
		inset: 0;
	}
	h2 {
		font-size: 56px;
		font-weight: 500;
		color: $color_4;
		font-family: $font-family_3;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0 0 10px 0;
		margin: 0;
		font-size: 16px;
		font-weight: 600;
		color: $color_2;
		a {
			color: $color_5;
			transition: 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}
		li+li {
			padding-left: 10px;
			&::before {
				display: inline-block;
				padding-right: 10px;
				color: $color_4;
				content: "/";
			}
		}
	}
}
.scroll-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: var(--color-primary);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
	i {
		font-size: 24px;
		color: $color_4;
		line-height: 0;
	}
	&:hover {
		background: rgba(86, 184, 230, 0.8);
		color: $color_4;
	}
}
.scroll-top.active {
	visibility: visible;
	opacity: 1;
}
#preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	transition: all 0.6s ease-out;
	&:before {
		content: "";
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid var(--color-primary);
		border-top-color: $border-top-color_1;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: animate-preloader 1s linear infinite;
	}
}
.header {
	transition: all 0.5s;
	z-index: 997;
	padding: 24px 0;
	.logo {
		img {
			max-height: 60px;
			margin-right: 9px;
		}
		h1 {
			font-size: 30px;
			font-weight: 700;
			color: $color_4;
			font-family: $font-family_3;
			margin: 0;
		}
	}
}
.header.sticked {
	background: rgba(27, 47, 69, 0.9);
	padding: 12px 0;
}
.hero {
	width: 100%;
	min-height: 100vh;
	background: url("../img/hero-bg.jpg") top center;
	background-size: cover;
	position: relative;
	padding: 120px 0;
	z-index: 3;
	&:before {
		position: absolute;
		content: "";
		inset: 0;
	}
	.container {
		z-index: 1;
	}
	h2 {
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		line-height: 1.2;
		color: $color_4;
		font-family: $font-family_3;
	}
	blockquote {
		color: $color_4;
		padding-left: 20px;
		font-size: 15px;
		font-family: $font-family_1;
		border-left: 2px solid var(--color-primary);
		margin: 40px 0;
	}
	.btn-get-started {
		font-family: $font-family_3;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 12px 30px;
		border-radius: 50px;
		transition: 0.5s;
		color: $color_4;
		background: var(--color-primary);
		&:hover {
			background: seagreen;
		}
	}
	.btn-watch-video {
		font-size: 16px;
		transition: 0.5s;
		margin-left: 25px;
		color: $color_8;
		font-weight: 600;
		i {
			color: $color_2;
			font-size: 32px;
			transition: 0.3s;
			line-height: 0;
			margin-right: 8px;
		}
		&:hover {
			color: $color_9;
			i {
				color: $color_8;
			}
		}
	}
}
.about-us {
	padding-bottom: 0;
	.img-bg {
		min-height: 600px;
		background-size: cover;
	}
	.slides {
		background-color: $background-color_2;
	}
	h3 {
		font-size: 24px;
		font-weight: 700;
		color: $color_7;
	}
	h4 {
		font-size: 18px;
		font-weight: 400;
		color: $color_10;
		font-family: $font-family_3;
	}
	.swiper {
		margin: 140px 140px 120px 140px;
		overflow: hidden;
	}
	.swiper-button-prev {
		&:after {
			font-size: 24px;
			color: $color_7;
		}
		left: 80px;
	}
	.swiper-button-next {
		&:after {
			font-size: 24px;
			color: $color_7;
		}
		right: 80px;
	}
	.swiper-pagination {
		margin-top: 30px;
		position: relative;
		.swiper-pagination-bullet {
			background-color: $background-color_3;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_4;
		}
	}
}
.page-about {
	.about-us {
		padding: 0 0 80px 0;
	}
}
.services-list {
	.service-item {
		position: relative;
		.icon {
			i {
				font-size: 32px;
				line-height: 0;
				margin-right: 20px;
				color: $color_11;
			}
		}
		.title {
			font-weight: 700;
			margin-bottom: 5px;
			font-size: 18px;
			a {
				color: $color_7;
				&:hover {
					color: $color_11;
				}
			}
		}
		.description {
			line-height: 24px;
			font-size: 14px;
		}
	}
}
.call-to-action {
	background: url("../img/cta-bg.jpg") center center;
	background-size: cover;
	padding: 100px 0;
	h3 {
		color: $color_4;
		font-size: 28px;
		margin-bottom: 25px;
		font-weight: 700;
	}
	p {
		color: $color_4;
		margin-bottom: 25px;
	}
	.cta-btn {
		font-family: $font-family_1;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 12px 40px;
		border-radius: 50px;
		transition: 0.5s;
		margin: 10px;
		color: $color_4;
		background: #2aa5df;
		&:hover {
			background: var(--color-primary);
		}
	}
}
.features {
	padding-bottom: 0;
	h3 {
		color: $color_7;
		font-size: 32px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.icon-list {
		i {
			margin-right: 10px;
			font-size: 24px;
			line-height: 1.2;
		}
		span {
			font-size: 18px;
			color: $color_10;
		}
	}
	.garuda {
		position: absolute;
		right: 0;
		img {
			width: 340px;
		}
	}
	.details {
		margin-top: 80px;
		padding: 120px 0;
		background-color: $background-color_2;
		h4 {
			color: $color_7;
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
			font-size: 15px;
		}
		.btn-get-started {
			font-family: $font-family_2;
			display: inline-block;
			font-weight: 500;
			font-size: 15px;
			letter-spacing: 1px;
			padding: 10px 32px;
			border-radius: 50px;
			transition: 0.5s;
			background-color: $background-color_4;
			color: $color_4;
			&:hover {
				background: #2aa5df;
			}
		}
	}
}
.footer {
	font-size: 14px;
	.footer-content {
		background-color: $background-color_2;
		background-size: contain;
		padding: 60px 0 30px 0;
		.footer-info {
			margin-bottom: 30px;
			.logo {
				line-height: 0;
				margin-bottom: 25px;
				img {
					max-height: 40px;
					margin-right: 6px;
				}
				span {
					font-size: 30px;
					font-weight: 700;
					letter-spacing: 1px;
					color: $color_7;
					font-family: $font-family_3;
					margin-top: 3px;
				}
			}
			p {
				font-size: 15px;
				margin-bottom: 0;
				font-family: $font-family_2;
				color: $color_7;
			}
		}
		.social-links {
			a {
				font-size: 14px;
				line-height: 0;
				display: inline-block;
				width: 32px;
				height: 32px;
				color: $color_12;
				margin-right: 10px;
				transition: 0.3s;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $background-color_4;
				color: $color_4;
				border-radius: 50px;
				&:hover {
					background-color: $background-color_5;
				}
			}
		}
		h4 {
			font-size: 16px;
			font-weight: bold;
			color: $color_10;
			position: relative;
			padding-bottom: 12px;
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					margin-right: 2px;
					color: $color_2;
					font-size: 16px;
					line-height: 0;
				}
				li {
					padding: 10px 0;
					display: flex;
					align-items: center;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_13;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		.footer-contact {
			p {
				line-height: 26px;
				color: $color_7;
			}
		}
	}
	.footer-legal {
		background: #fff;
		padding: 30px 0;
		.copyright {
			text-align: center;
			color: $color_7;
		}
		.credits {
			padding-top: 4px;
			text-align: center;
			font-size: 13px;
			color: $color_7;
		}
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 1200px) {
	.header {
		padding: 12px 0;
	}
	.about-us {
		.swiper {
			margin: 60px 60px 40px 60px;
		}
		.swiper-button-prev {
			display: none;
		}
		.swiper-button-next {
			display: none;
		}
	}
}
@media (min-width: 1280px) {
	.navbar {
		padding: 0;
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style: none;
			align-items: center;
		}
		li {
			position: relative;
			&:hover {
				>a {
					color: $color_4;
				}
			}
		}
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px 0 15px 30px;
			font-family: $font-family_1;
			font-size: 15px;
			font-weight: 500;
			color: $color_6;
			white-space: nowrap;
			transition: 0.3s;
			&:focus {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 15px 0 15px 30px;
				font-family: $font-family_1;
				font-size: 15px;
				font-weight: 500;
				color: $color_6;
				white-space: nowrap;
				transition: 0.3s;
				i {
					font-size: 12px;
					line-height: 0;
					margin-left: 5px;
				}
			}
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
			&:hover {
				color: $color_4;
			}
		}
		.active {
			color: $color_4;
			&:focus {
				color: $color_4;
			}
		}
		.dropdown {
			ul {
				display: block;
				position: absolute;
				left: 14px;
				top: calc(100% + 30px);
				margin: 0;
				padding: 10px 0;
				z-index: 99;
				opacity: 0;
				visibility: hidden;
				background: #fff;
				box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
				transition: 0.2s;
				li {
					min-width: 200px;
					&:hover {
						>a {
							color: $color_2;
						}
					}
				}
				a {
					padding: 10px 20px;
					font-size: 15px;
					text-transform: none;
					color: $color_7;
					i {
						font-size: 12px;
					}
					&:hover {
						color: $color_2;
					}
				}
				.active {
					&:hover {
						color: $color_2;
					}
				}
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 100%;
					visibility: visible;
				}
			}
			.dropdown {
				ul {
					top: 0;
					left: calc(100% - 30px);
					visibility: hidden;
				}
				&:hover {
					>ul {
						opacity: 1;
						top: 0;
						left: 100%;
						visibility: visible;
					}
				}
			}
		}
	}
	.mobile-nav-show {
		display: none;
	}
	.mobile-nav-hide {
		display: none;
	}
}
@media (min-width: 1280px) and (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (min-width: 1034px) {
	.hero {
		&:after {
			position: absolute;
			content: "";
			width: 40%;
			top: 0;
			bottom: 0;
		}
	}
}
@media (min-width: 1365px) {
	.hero {
		background-attachment: fixed;
	}
	.call-to-action {
		background-attachment: fixed;
	}
}
@media (max-width: 640px) {
	.hero {
		h2 {
			font-size: 36px;
			line-height: 1;
		}
		.btn-get-started {
			font-size: 13px;
		}
		.btn-watch-video {
			font-size: 13px;
		}
	}
}
@media (max-width: 575px) {
	.about-us {
		.swiper {
			margin: 40px 40px 20px 40px;
		}
	}
}
@media (max-width: 768px) {
	.features {
		.garuda {
			position: relative;
			img {
				width: 100%;
			}
		}
	}
}
@media (max-width: 992px) {
	.features {
		.garuda {
			img {
				margin-top: 30px;
			}
		}
	}
}
